body {
  margin: 0;
  background-color: #22252D;
}

.profile-pic {
  border-radius: 13px 13px 0 0;
  width: 400px;

}

.container {
width:400px;
height: 600px;
background-color: white;
position: absolute;
top: 15%;
left: 35%;
border-radius: 13px;
}
