body {
  margin: 0;
  background-color: #22252D;
  font-family: 'Inter', sans-serif;
}

.profile-pic {
border-radius: 13px 13px 0 0;
width: 350px;
}

.info {
  text-align: center;
}

.info > h1 {
color:white;
}

.info > h2 {
  margin-top:-16px;
  color: #FFA45C;
  font-size:20px;
  font-weight: 400;
}

.info > h3 {
  color: white;
  font-size:16px;
  font-weight: 400;
}

.about, .interests {
  margin: 18px;
  padding-top:8px;
}

.about-h1{
  color:white;
  font-size: 18px;
}

.about-h2 {
  color:white;
  font-size:14px;
  font-weight: 400;
}

.interests {
  color: white
}

.interests > h1 {
  font-size: 18px;
}

.interests > h2 {
  font-size: 14px;
  font-weight: 400;
}

.linked-in {
  margin-left:28px;
}

.footing {
  height:60px;
  width:350px;
  border-radius: 0 0 13px 13px;
  background-color:#1A1B21;
}

.email {
border-radius: 10px;
padding: 13px;
width:140px;
border:none;
background-color: #FFFFFF;
font-weight:600;
margin-right: -5px;
}

.envelope {
  margin-right:4px;
}

.link {
  margin-right: 4px;
}

.icon{
display:flex;
justify-content: space-around;
align-self: center;
padding-top:14px;
font-size: 34px;
color: #918E9B;
}

.font-awesome{
  margin-top:50px;
}

.linked-in {
border-radius: 10px;
padding: 13px;
width:140px;
border:none;
background-color: #5093E2;
color:white;
font-weight:600;
}
.container {
width:350px;
padding-bottom: 13px;
height: 650px;
background-color: #383a47;
position: absolute;
top: 5%;
left: 35%;
}

.page-footer {
padding-bottom: 50px;
}
